{erl_opts, [debug_info]}.
{plugins, [
    {rebar_raw_resource, "0.10.0"}
]}.
{deps, [
    {cbqn, {raw, {git, "https://github.com/dzaima/CBQN.git", {ref, "a6a0888"}}}}
]}.
{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.
{overrides, [
    {override, cbqn, [
        {pre_hooks, [
            {"(linux|darwin|solaris)", compile, "make f='-DNO_MMAP' FFI=0 static-lib"},
            {"(freebsd|openbsd)", compile, "gmake f='-DNO_MMAP' FFI=0 static-lib"}
        ]},
        {post_hooks, [
            {"(linux|darwin|solaris)", clean, "make clean"},
            {"(freebsd|openbsd)", clean, "gmake clean"},
            {"(linux|darwin|solaris|freebsd|openbsd)", clean, "rm -f libcbqn.a"}
        ]},
        {artifacts, ["libcbqn.a"]}
    ]}
]}.
